<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        *{
            height: 100%;
            padding: 0;
            margin: 0;
        }
        #user-number, #complaints-number{
            width: 140px;
            height: 110px;
            background-color: aqua;
            color: antiquewhite;
            font-size: medium;
            padding: 12px;
            margin: 0;
            margin: 26px;
            color: blue;
        }
        #numbers{
            width: 95%;
            background-color: rgba(163, 202, 238, 0.795);
            height: 101%;

        }
        #manage-other{
            height: 93%;
            background-color: azure;
            padding-top: 35px;
            width: 7%;
            /* display: inline-block;
            vertical-align: top; */
        }
        #project-info{
            display: flex;
            height: 100%;
        }
        .menu-items{
            width: 46px;
            height: 46px;
            margin: 22px;
        }
        #manage-other:hover{
            width: 10%;
            height: 100%;
            background-color: aqua;
            color: rgb(26, 46, 224);
        }
        .menu-items:hover{
            background-color:transparent;
            width: 55px;
            height: 55px;
            
        }
        #important-numbers{
            display: flex;
            height: 90%;
            margin: 12px;
            padding: 12px;
            overflow-y: scroll;
        }
        #graphs-and-chats{
            display: flex;
            width: 96%;
            margin: 6% 2%;
            height: 250px;
        }
        i{
            font-size: xx-larger;
            font-style: italic;
            font-size: 33px;
        }
        i:hover{
            font-size: 53px;
            color:rgb(127, 99, 202)
        }
        .info-title{
            display: none;
        }
        .info-title:hover{
            display: auto;
            color: black;
        }
        #navigator{
            display: flex;
            justify-content: space-evenly;
            height: 8%;
            width: 96%;
            background-color: aqua;
        }
        #stat-number{
            font-size: xx-large;
            font-family: 'Courier New', Courier, monospace;
        }
        table, th, td{
            border:1px solid black;
            padding: 3px 9px;
        }
        tr:nth-child(even) {
            background-color: #a6e9e9;
        }
        tr:hover {
            background-color: #c5d48b;
        }
        #showinfo{
            height: fit-content;
            width: fit-content;
            position: fixed;
            z-index: 3;
            background-color: burlywood;
        }

    </style>

</head>
<body>
<div id="project-info">
    <div id="manage-other">
        <div class="menu-items" href="" id="make-anouncements">
            <a href="/server/anouncements"><i class="bi bi-megaphone"></i></a><br>
            <p class="info-title">Anouncements</p>
        </div>
        <div class="menu-items" href="" id="message-privately">
            <a href="/server/private-messages"><i class="bi bi-chat-dots"></i></a><br>
            <p class="info-title"></p>
        </div>
        <div class="menu-items" href="" id="complaints">
            <a href="/server/user-complaints"><i class="bi bi-envelope-exclamation-fill"></i></a><br>
            <p class="info-title"></p>
        </div>
        <div class="menu-items" href="" id="machine-learning">
            <a href="/server/learning-traits"><i class="bi bi-robot"></i></a><br>
            <p class="info-title"></p>
        </div>
    </div>
    <div id="numbers">
        <div id="navigator">
            <a href="/server/users"> Users</a>
            <a href="#"> Chat traits</a>
            <a href="#"> Complaints</a>
        </div>
        <div id="important-numbers">
            <table style="width:100%">
                <tr>
                    <th>Business Name</th>
                    <th>Location</th>
                    <th>User Id</th>
                    <th>User Ip Address</th>
                    <th>Description</th>
                    <th>Number of customers </th>
                    <th>Action</th>
                </tr>
                <% users.forEach(user => { %>
                    <tr >
                        <td><%= user.name %></td>
                        <td><%= user.surname %></td>
                        <td><%= user.dateOfBirth %></td>
                        <td><%= user.email %></td>
                        <td><%= user.regDate %></td>
                        <td><%= user.lastLogin %></td>
                        <td><button>More</button></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    
    </div>
</div>
<div id="showinfo">
    <img src="" name="business-logo" width="100px" height="100px">
    <h1 name="business-name"></h1>
    <p name="owner"></p>
    <p name="description"></p>
    <img src="" name="cover-img">
    <p name="number-of-loyal-customers"></p>
    <p name="products sold this week"></p>
    <div id="contact-details">
        <p name="Location"></p>
        <p name="ip"></p>
        <p name="phone"></p>
        <p name="province"></p>
        <p name="whatsapp-number"></p>
        <p name="facebook"></p>
    </div>
    <ul name="subscribed-customers">

    </ul>


</div>
</body>
<script>
    
        window.onload = function() {
    let icons = document.getElementsByTagName("i");
    let infoTitles = document.querySelectorAll(".info-title");
    
    // Hide all info-titles initially
    for (let j = 0; j < infoTitles.length; j++) {
        infoTitles[j].style.display = "none";
    }
    
    // Event listener for mouseover on each icon
    for (let i = 0; i < icons.length; i++) {
        icons[i].addEventListener("mouseover", function() {
            // Hide all info-titles
            for (let j = 0; j < infoTitles.length; j++) {
                infoTitles[j].style.display = "none";
            }
            
            // Show the corresponding info-title
            let infoTitle = this.nextElementSibling;
            infoTitle.style.display = "inline";
        });
    }

    // Event listener for when mouse leaves all icons
    document.addEventListener("mouseout", function(event) {
        // Check if the mouse leaves all icons
        if (!event.relatedTarget || event.relatedTarget.tagName !== "I") {
            // Hide all info-titles
            for (let j = 0; j < infoTitles.length; j++) {
                infoTitles[j].style.display = "none";
            }
        }
    });
};

</script>
</html>
