<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All businesses</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        *{
            height: 100%;
            padding: 0;
            margin: 0;
        }
        #user-number, #complaints-number{
            width: 140px;
            height: 110px;
            background-color: aqua;
            color: antiquewhite;
            font-size: medium;
            padding: 12px;
            margin: 0;
            margin: 26px;
            color: blue;
        }
        #numbers{
            width: 95%;
            /* background-color: rgb(249, 252, 255); */
            height: 101%;

        }
        #manage-other{
            height: 93%;
            background-color: azure;
            padding-top: 35px;
            width: 7%;
            /* display: inline-block;
            vertical-align: top; */
        }
        #project-info{
            display: flex;
            height: 100%;
        }
        .menu-items{
            width: 46px;
            height: 46px;
            margin: 22px;
        }
        #manage-other:hover{
            width: 10%;
            height: 100%;
            background-color: aqua;
            color: rgb(26, 46, 224);
        }
        .menu-items:hover{
            background-color:transparent;
            width: 55px;
            height: 55px;
            
        }
        #important-numbers{
            /* display: flex; */
            width: 100%;
            height: 90%;
            margin: 12px;
            padding: 12px;
            overflow-y: scroll;
        }
        .info-title{
            display: none;
        }
        .info-title:hover{
            display: auto;
            color: black;
        }
        #navigator{
            display: flex;
            justify-content: space-evenly;
            height: 10%;
            width: 100%;
            background-color: rgb(35, 35, 36);
        }
        #stat-number{
            font-size: xx-large;
            font-family: 'Courier New', Courier, monospace;
        }
        table, th, td{
            border:1px solid black;
            padding: 3px 9px;
        }
        tr:nth-child(even) {
            background-color: #a6e9e9;
        }
        tr:hover {
            background-color: #c5d48b;
        }
        #showinfo{
            height: fit-content;
            width: fit-content;
            position: fixed;
            z-index: 3;
            background-color: burlywood;
        }

        #infoButton{
            text-decoration: none;
            padding: 12px;
        }
        #accountType{
            width: 25%;
            height: 300px;
            margin:50px 100px;
            display: none;
            position: fixed;
            z-index: 1;
            left: 20%;
            top: 10%;
            background-color: rgba(236, 236, 236, 0.94);
            overflow: auto;
            /* padding: 90px 30px 0 30px; */
        }
        #navigator a{
            text-decoration: none;
            padding: 3px 10px;
            margin: 9px;
            color: snow;
        }
        #navigator a:hover{
            text-decoration: none;
            padding: 3px 10px;
            margin: 9px;
            color: rgb(88, 104, 177);
        }


    </style>

</head>
<body>
<div id="project-info">
    <div id="numbers">
        <div id="navigator">
            <a href="/server/users"> Users</a>
            <a href="#"> Chat traits</a>
            <a href="#"> Complaints</a>
        </div>
        <div id="important-numbers">
            <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Date of birth</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Subscribers</th>
                    <th>Action</th>
                </tr>
                <% users.forEach(user => { %>
                    <tr >
                        <td><%= user.ownerName %></td>
                        <td><%= user.ownerSurname %></td>
                        <td><%= user.dateOfBirth %></td>
                        <td><%= user.location %></td>
                        <td><%= user.email %></td>
                        <td>6</td>
                        <td><a href='/server/business/${<%= user._id %>}' id="infoButton" >More</a></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>
</div>
<div id='accountType' className='modal-content animate'>
    <span onClick="closeModal()" id='closer'>x</span><br /><br /><br />
    <div className='accountType-BTN'>
      <Link to="/new-user" className='cta-button' id="newUser">Prospective Customer</Link><br /><br /><br />
      <Link to="/plans" className='cta-button' id="newBus">Start an Online Business</Link>
    </div>
  </div>
</body>
<script>
    function openModal(i){
        console.table(i)
        document.getElementById('accountType').style.display = 'block';
    };

    function showAlerts(i){
        alert(i)
    }
    // console.log(users)
//         window.onload = function() {
//     let icons = document.getElementsByTagName("i");
//     let infoTitles = document.querySelectorAll(".info-title");
    
//     // Hide all info-titles initially
//     for (let j = 0; j < infoTitles.length; j++) {
//         infoTitles[j].style.display = "none";
//     }
    
//     // Event listener for mouseover on each icon
//     for (let i = 0; i < icons.length; i++) {
//         icons[i].addEventListener("mouseover", function() {
//             // Hide all info-titles
//             for (let j = 0; j < infoTitles.length; j++) {
//                 infoTitles[j].style.display = "none";
//             }
            
//             // Show the corresponding info-title
//             let infoTitle = this.nextElementSibling;
//             infoTitle.style.display = "inline";
//         });
//     }

//     // Event listener for when mouse leaves all icons
//     document.addEventListener("mouseout", function(event) {
//         // Check if the mouse leaves all icons
//         if (!event.relatedTarget || event.relatedTarget.tagName !== "I") {
//             // Hide all info-titles
//             for (let j = 0; j < infoTitles.length; j++) {
//                 infoTitles[j].style.display = "none";
//             }
//         }
//     });
// };

</script>
</html>
